In [1]:
import pandas as pd
from sqlalchemy import create_engine

In [2]:
# Read in the all the City Data
City_Temp = "Resources/city_temperature.csv"
City_Temp_df = pd.read_csv(City_Temp)
City_Temp_df.head()

C:\Users\AjgOI\Anaconda3\envs\PythonData\lib\site-packages\IPython\core\interactiveshell.py:3072: DtypeWarning: Columns (2) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

   Region  Country State     City  Month  Day  Year  AvgTemperature
0  Africa  Algeria   NaN  Algiers      1    1  1995            64.2
1  Africa  Algeria   NaN  Algiers      1    2  1995            49.4
2  Africa  Algeria   NaN  Algiers      1    3  1995            48.8
3  Africa  Algeria   NaN  Algiers      1    4  1995            46.4
4  Africa  Algeria   NaN  Algiers      1    5  1995            47.9

In [3]:
# Read in the all the City Temperature Data
Env_Temp = "Resources/Environment_Temperature_change.csv"
Env_Temp_df = pd.read_csv(Env_Temp, encoding='ISO-8859-1')
Env_Temp_df

,Area Code,Area,Months Code,Months,Element Code,Element,Y1961,Y1962,Y1963,Y1964,...,Y2010,Y2011,Y2012,Y2013,Y2014,Y2015,Y2016,Y2017,Y2018,Y2019
0,2,Afghanistan,7001,January,7271,Temperature change,0.777,0.062,2.744,-5.232,...,3.601,1.179,-0.583,1.233,1.755,1.943,3.416,1.201,1.996,2.951
1,2,Afghanistan,7001,January,6078,Standard Deviation,1.950,1.950,1.950,1.950,...,1.950,1.950,1.950,1.950,1.950,1.950,1.950,1.950,1.950,1.950
2,2,Afghanistan,7002,February,7271,Temperature change,-1.743,2.465,3.919,-0.202,...,1.212,0.321,-3.201,1.494,-3.187,2.699,2.251,-0.323,2.705,0.086
3,2,Afghanistan,7002,February,6078,Standard Deviation,2.597,2.597,2.597,2.597,...,2.597,2.597,2.597,2.597,2.597,2.597,2.597,2.597,2.597,2.597
4,2,Afghanistan,7003,March,7271,Temperature change,0.516,1.336,0.403,1.659,...,3.390,0.748,-0.527,2.246,-0.076,-0.497,2.296,0.834,4.418,0.234
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9651,5873,OECD,7018,JunJulAug,6078,Standard Deviation,0.247,0.247,0.247,0.247,...,0.247,0.247,0.247,0.247,0.247,0.247,0.247,0.247,0.247,0.247
9652,5873,OECD,7019,SepOctNov,7271,Temperature change,0.036,0.461,0.665,-0.157,...,0.958,1.106,0.885,1.041,0.999,1.670,1.535,1.194,0.581,1.233
9653,5873,OECD,7019,SepOctNov,6078,Standard Deviation,0.378,0.378,0.378,0.378,...,0.378,0.378,0.378,0.378,0.378,0.378,0.378,0.378,0.378,0.378
9654,5873,OECD,7020,Meteorological year,7271,Temperature change,0.165,-0.009,0.134,-0.190,...,1.246,0.805,1.274,0.991,0.811,1.282,1.850,1.349,1.088,1.297
9655,5873,OECD,7020,Meteorological year,6078,Standard Deviation,0.260,0.260,0.260,0.260,...,0.260,0.260,0.260,0.260,0.260,0.260,0.260,0.260,0.260,0.260

In [4]:
#Filter the EnviroTemp Dataframe

Area = Env_Temp_df.loc[:,["Area Code","Area"]]
Month = Env_Temp_df.loc[:,["Months Code","Months"]]
Element = Env_Temp_df.loc[:,["Element Code","Element"]]

#Remove Duplicates from all Data frames
Area.drop_duplicates("Area Code", inplace=True)
Area.set_index("Area Code", inplace=True)

Month.drop_duplicates("Months Code", inplace=True)
Month.set_index("Months Code", inplace=True)

Element.drop_duplicates("Element Code", inplace=True)
Element.set_index("Element Code", inplace=True)

In [5]:
engine = create_engine('postgresql://postgres:@Jg211083@localhost:5432/temperaturedb')
connection = engine.connect()

In [6]:
#Create three new tables with Supplimentary information relatin back to the original data table.

# Create Areas table
Area.reset_index()
Area.to_sql(name='EnvArea',con=connection, if_exists='replace', index=True)

# Create Elements Table
Element.reset_index()
Element.to_sql(name='Element',con=connection, if_exists='replace', index=True)

#Create a Month table
Month.reset_index()
Month.to_sql(name='Month', con=connection, if_exists='replace', index=True)

In [7]:
#Create two seperate filtered tables for Temperature Variance and Standard Dev data tables

Temperature_Var = Env_Temp_df.loc[(Env_Temp_df["Element"] == "Temperature change")]

Std_Dev = Env_Temp_df.loc[(Env_Temp_df["Element"]== "Standard Deviation")]

Temperature_Var.to_sql(name='TempVar', con=connection, if_exists='replace', index=True)

Std_Dev.to_sql(name='Std_Dev', con=connection, if_exists='replace', index=True)

In [19]:
# Cities List imported in to a unique table

Cities = City_Temp_df.loc[:,"City"]

Cities.drop_duplicates()

Cities_Unique = pd.DataFrame(Cities.unique())

Cities_Unique.columns = ['City']

Cities_Unique.to_sql(name='Cities', con=connection, if_exists='replace', index=True)

In [20]:
# Create a unique Countries List

Countries = City_Temp_df.loc[:,"Country"]

Countries.drop_duplicates()

Counties_Unique = pd.DataFrame(Countries.unique())

Counties_Unique.columns = ['Country']

Counties_Unique.to_sql(name='Countries', con=connection, if_exists='replace', index=True)

In [21]:
# Create a unique list of regions

Regions = City_Temp_df.loc[:,"Region"]

Regions.drop_duplicates()

Regions_Unique = pd.DataFrame(Regions.unique())

Regions_Unique.columns = ["Region"]

Regions_Unique.to_sql(name='Regions', con=connection, if_exists='replace', index=True, )

In [22]:
# Removal of State field

Cities_Final = City_Temp_df.drop(['State'], axis=1)
Cities_Final.to_sql(name='CityTemp', con=connection, if_exists='replace', index=True)

In [35]:
# Dependencies
import matplotlib.pyplot as plt
import requests
from config import weather_api_key

In [36]:
# Save config information.
url = "http://api.openweathermap.org/data/2.5/weather?"
units = "metric"

# Build partial query URL
query_url = f"{url}appid={weather_api_key}&units={units}&q="

In [45]:
City_list = []
City_list = Cities_Unique.City.to_list()

# set up lists to hold reponse info
lat = []
temp = []
exceptions = []
Current_City = []
# Loop through the list of cities and perform a request for data on each
for city in City_list:
    try:
        response = requests.get(query_url + city).json()
        lat.append(response['coord']['lat'])
        temp.append(response['main']['temp'])
        Current_City.append(city)
    except:
        print(f'No data found for city: {city}')
        exceptions.append(city)
        pass


print(f"The latitude information received is: {lat}")
print(f"The temperature information received is: {temp}")

No data found for city:Capetown
No data found for city:Bombay (Mumbai)
No data found for city:Chennai (Madras)
No data found for city:Ulan-bator
No data found for city:Dusanbe
No data found for city:Ashabad
No data found for city:Port au Prince
No data found for city:Montvideo
No data found for city:Hartford Springfield
No data found for city:Tampa St. Petersburg
No data found for city:Sault Ste Marie
No data found for city:Minneapolis St. Paul
No data found for city:Raleigh Durham
No data found for city:Akron Canton
No data found for city:Wilkes Barre
No data found for city:Dallas Ft Worth
No data found for city:Midland Odessa
No data found for city:San Juan Puerto Rico
The latitude information received is: [36.7525, -3.3822, 6.3654, 4.3612, -4.2658, 30.0626, 9.025, 0.3925, 13.45, 9.538, 11.8636, 5.3094, -1.2833, 33.9911, -18.9137, 18.0858, -13.9669, -25.9653, -22.5594, 13.5137, 6.5833, 14.6937, 8.484, 6.1375, 34, -6.8235, 0.3163, -15.4067, 23.7104, 39.9075, 30.6667, 23.1167, 31.2222, 41.7922, 22.2855, 22.5697, 28.6667, -6.2146, 34.6937, 43.0642, 35.6895, 43.25, 42.87, 17.9667, 3.1431, 16.8053, 27.7167, 39.0339, 33.7104, 24.9056, 14.6042, 1.2897, 37.5683, 6.9319, 25.0478, 13.75, 41.2646, 21.0245, -27.4679, -35.2835, 28.0836, -31.9333, -33.8679, -36.8667, 41.3275, 48.2085, 53.9, 50.8504, 42.6975, 45.8131, 35.1667, 50.088, 55.6759, 60.1695, 48.8534, 44.8404, 50.7333, 50.1167, 53.55, 48.1374, 41.6941, 37.9795, 47.498, 64.1355, 37.7021, 45.4643, 34.257, 57, 42, 52.374, 59.9127, 52.2298, 38.7167, 44.4323, 55.7522, 40.1811, 42.6727, 48.1482, 41.3888, 43.2627, 40.4165, 59.3326, 46.9481, 41.8875, 47.3667, 50.4333, 54.5833, 51.5085, 44.804, 26.2154, 32.0833, 31.9552, 29.3697, 33.8889, 23.6139, 25.2867, 26.3032, 24.6877, 33.5102, 39.9199, 41.0351, 24.4667, 25.2582, 51.0501, 53.5501, 44.6453, 45.5088, 45.4112, 46.8123, 50.4501, 43.7001, 49.2497, 49.8844, 20.6667, 19.4285, 25.6667, -34.6132, 40.7507, 39.1834, 17.4995, -16.5, 13.1, -15.7797, -22.9028, -23.5475, 4.6097, 37.3394, 23.133, 18.5001, -2.1667, -0.2299, 14.6407, 5.4112, 14.0818, 12.1328, 8.9936, -12.0432, 5.8667, 10.488, 33.5207, 34.7304, 30.7835, 39.1501, 61.2181, 64.8378, 58.3019, 35.1981, 33.4484, 32.2217, 32.7253, 35.3859, 34.7465, 36.6666, 34.0522, 38.4666, 32.7153, 37.7749, 38.8339, 39.7392, 39.0639, 38.2545, 41.167, 34.2257, 47.5001, 38.8951, 29.2108, 30.3322, 25.7906, 28.5383, 30.4383, 26.7153, 33.749, 39.9612, 39.8667, 32.0835, 21.3069, 43.6135, 42.8713, 41.85, 40.7667, 42.2711, 37.2153, 37.9748, 41.1306, 39.7684, 41.6834, 41.6005, 42.5, 39.3508, 39.0483, 37.6922, 37.9887, 38.2542, 37.0834, 30.4508, 30.2131, 29.9547, 32.5251, 46.8606, 45.5234, 39.2904, 42.3584, 42.3314, 43.0125, 42.9634, 42.7325, 46.7833, 42.4165, 34.2576, 39.0997, 38.6273, 45.7833, 47.5002, 46.5927, 40.8, 41.1239, 41.2586, 39.5296, 36.175, 37.978, 39.3643, 40.7357, 35.0845, 42.6001, 42.8865, 40.7143, 43.1548, 37.0881, 35.6009, 35.2271, 36.0726, 46.8083, 46.8772, 39.162, 41.4995, 39.7589, 39.8333, 41.0998, 35.4676, 36.1001, 44.0521, 42.3265, 11.65, 40.6084, 42.7667, 40.2737, 39.9523, 40.4406, 41.7504, 32.7766, 34.0007, 44.0805, 43.55, 35.0456, 35.9606, 35.1495, 36.1659, 32.4487, 35.222, 30.2672, 25.9018, 27.8006, 31.8001, 29.7633, 33.6001, 31.4638, 29.4241, 31.5493, 33.9137, 40.7608, 39.8835, 42.1668, 37.5538, 37.271, 47.6062, 47.6166, 46.4665, 38.9259, 44.5192, 34.7334, 43.0006, 42.8666, 41.14]
The temperature information received is: [24.07, 27.57, 24.99, 23.08, 22.17, 26.42, 16.49, 24.01, 22.18, 24.86, 23.06, 24.98, 16.65, 19.11, 15.98, 28.96, 23.11, 22.35, 17.9, 26.16, 24.87, 27.07, 23.98, 24.66, 29.26, 27.9, 21.66, 23.28, 29.99, 22.94, 28.94, 34.97, 31.17, 25.01, 31.98, 33.97, 32.05, 33.05, 23.93, 24.86, 21.77, 26.95, 28.11, 30.97, 30.74, 27.98, 28.12, 26.76, 33.21, 29.9, 31.74, 31.96, 27.59, 28.11, 29.52, 31.76, 32.97, 31.69, 19.98, 12.36, 23.33, 19.23, 16.28, 12.22, 19.49, 16.75, 9.86, 14.06, 14.83, 17.04, 30.97, 16.42, 14.73, 9.61, 18.92, 17.8, 17.01, 16.3, 14.44, 14.12, 20.84, 24.9, 19.07, 12.84, 13.59, 21.06, 17.1, 11.07, 16.82, 14.12, 10.27, 12.94, 18.02, 20.07, 7.44, 20.09, 16.45, 17.49, 21.65, 16.93, 18.87, 9.7, 16.26, 20.07, 16.32, 13.85, 14.89, 15.13, 17.81, 39.99, 29.99, 26.05, 38, 29.7, 38.01, 39.97, 40.51, 39.03, 25.42, 17.99, 22.03, 40.01, 39.34, 9.14, 10.97, 12.95, 14.46, 13.4, 9.5, 7.67, 14.22, 14.71, 14.81, 17.75, 15.96, 25.02, 11.91, 16.16, 17.84, 25.57, 2.99, 28.27, 15.51, 20, 17.33, 10.73, 14.42, 22.24, 24.82, 22.98, 8.53, 17.91, 30.25, 21.42, 25.69, 26.76, 14.14, 23.84, 21.49, 19.2, 20.18, 24.55, 14.2, 13.1, 12.33, 13.18, 16.75, 30.23, 28.08, 31.51, 25.96, 23.57, 21.56, 20.25, 18.23, 19.01, 12.93, 16.1, 15.07, 19.22, 17.26, 14.67, 18.34, 15.61, 15.38, 25.04, 22.23, 24.16, 23.63, 22.48, 24.46, 16.4, 16.9, 19.84, 19.29, 25.86, 14.24, 8.84, 20.74, 19.64, 19.37, 23.35, 18.29, 17.84, 19.03, 18.71, 19.89, 18.62, 17.75, 21, 22.47, 17.55, 18.45, 17.25, 22.81, 25.13, 26.21, 26.08, 8.26, 16.15, 15.08, 14.13, 16.79, 15.97, 18.17, 17.08, 15.21, 15.37, 20.93, 22.64, 21.84, 11.59, 11.15, 11.61, 19.07, 17.71, 19.58, 15.68, 27.16, 14.22, 15.6, 15.18, 24.1, 12.21, 13.77, 15.78, 13.7, 23.04, 14.65, 14.94, 13.78, 11.91, 16.47, 17.79, 16.65, 17.35, 19.18, 14.55, 27.04, 27.2, 13.97, 15.17, 28.11, 12.59, 13.22, 13.3, 14.12, 14.64, 13.15, 18.8, 14.93, 11.97, 16.92, 18.58, 18.3, 19.14, 18.3, 26.21, 21.58, 26, 27.88, 28.83, 25.6, 24.58, 25.04, 25.02, 26.55, 26.14, 26.39, 15.33, 13.86, 13.39, 13.82, 14.46, 14.07, 15.31, 14.8, 11.35, 17.24, 19.9, 19.53, 11.09, 11.7]

In [48]:
# create a data frame from cities, lat, and temp
weather_dict = {
    "city": Current_City,
    "lat": lat,
    "temp": temp
}

weather_data = pd.DataFrame(weather_dict)
weather_data.head()

# Create a new SQL data table with the Current City Data
weather_data.to_sql(name='CurrentCityWeather', con=connection, if_exists='replace', index=True)